body {
    margin: 0;
    background-image: url(../image/backgorund/Nether_Portal_background.png)
}


/*------------FONT FAMILY------------*/

@font-face {
    font-family: Merriweather-Font;
    src: url(../font/Merriweather/Merriweather-Black.ttf)
}

@font-face {
    font-family: ;
    src: url()
}

@font-face {
    font-family: ;
    src: url()
}

/*------------ FONT FAMILY END ------------*/


/*------Menu-Content-----*/

.menu-a {
    margin-left: 12px;
    margin-right: 12px;
}

.menu-content {
    width: fit-content;
    height: fit-content;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.menu-content a {
    padding: 22px 36px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 500ms;
    font-family: Merriweather-Font;
    background-color: #F6F6F6;
}

.menu-content a:hover {
    padding: 26px 38px;
    border-radius: 12px;
    transition: 400ms;
    font-size: 17px;
    color: #51f778;
    background: #d1d1d1;
}

.menu-content a:active {
    background: url(../)
}

/*------Menu-Content END-----*/

/*------ content body-----*/

.main-content-body {
    margin: 0;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 700px;
    border-radius: 12px;
    background-color: #F6F6F6;
}