body {
    margin: 0;
}

h1 {
    font-family: Minecraft-Font;
    position: relative;
    bottom: 10px;
    font-size: 20px;
}

.h1-title {
    font-size: 22px;
    text-align: center;
    font-family: Minecraft-Font;
    width: 160px;
    height: 30px;
    padding: 14px;
    border-radius: 12px;
    background-image: url(../image/backgorund/End_Stone_background_BE2.webp)
}

#Background-Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*------------FONT FAMILY------------*/

@font-face {
    font-family: Merriweather-Font;
    src: url(../font/Merriweather/Merriweather-Black.ttf)
}

@font-face {
    font-family: Minecraft-Font;
    src: url(../font/minecraft-4-cdnfonts/MinecraftTen-VGORe.ttf)
}

@font-face {
    font-family: ;
    src: url()
}

/*------------ FONT FAMILY END ------------*/

.menu-a-1 {
    padding: 20px;
}

.menu-a-2 {
    margin-left: 12px;
    margin-right: 12px;
}

.menu-a-3 {
    margin-left: 12px;
    margin-right: 12px;
}

.menu-content {
    width: fit-content;
    height: fit-content;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.menu-content a {
    padding: 22px 36px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 500ms;
    font-family: Minecraft-Font;
    background-color: #495C83;
}

.menu-content a:hover {
    padding: 26px 38px;
    border-radius: 12px;
    transition: 400ms;
    font-size: 20px;
    font-family: Minecraft-Font;
    color: #dd562d;
    background: #d1d1d1;
}

.menu-content a:active {}



.Buttons-Body-Content {
    width: 1400px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;
    gap: 200px;
    color: white;
}

.main-content-body {
    margin: 0;
    width: 1000px;
    height: 900px;
    border-radius: 12px;
    position: relative;
    left: 230px;
    background-color: #495C83;
}

.button-link-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
    text-align: center;
    color: purple;
}

.color-link {
    color: green;
}
/*--------------------------------------*/
.download-1 {
    width: 190px;
    height: 60px;
    border-radius: 12px;
    transition: 500ms;
    border-color: white;
    border-style: solid;
    text-decoration: none;
    background-image: url(../image/button\ backgrounds/obsidian.png)
}

.download-1:hover {
    width: 195px;
    height: 65px;
    border-radius: 12px;
    transition: 500ms;
}

.download-btn-1 {
    color: white;
    position: relative;
    top: 5px;
}


/*---------------------------*/
.download-2 {
    width: 190px;
    height: 60px;
    border-radius: 12px;
    transition: 500ms;
    border-color: white;
    border-style: solid;
    text-decoration: none;
    background-image: url(../image/button\ backgrounds/obsidian.png)
}

.download-2:hover {
    width: 195px;
    height: 65px;
    border-radius: 12px;
    transition: 500ms;
}

.download-btn-2 {
    color: white;
    position: relative;
    top: 5px;
}
/*---------------------------*/
.download-3 {
    width: 190px;
    height: 60px;
    border-radius: 12px;
    transition: 500ms;
    border-color: white;
    border-style: solid;
    text-decoration: none;
    background-image: url(../image/button\ backgrounds/obsidian.png)
}

.download-3:hover {
    width: 195px;
    height: 65px;
    border-radius: 12px;
    transition: 500ms;
}
/*---------------------------*/
.download-4 {
    width: 190px;
    height: 60px;
    border-radius: 12px;
    transition: 500ms;
    border-color: white;
    border-style: solid;
    text-decoration: none;
    background-image: url(../image/button\ backgrounds/obsidian.png)
}

.download-4:hover {
    width: 195px;
    height: 65px;
    border-radius: 12px;
    transition: 500ms;
}
/*---------------------------*/
.download-5 {
    width: 190px;
    height: 60px;
    border-radius: 12px;
    transition: 500ms;
    border-color: white;
    border-style: solid;
    text-decoration: none;
    background-image: url(../image/button\ backgrounds/obsidian.png)
}

.download-5:hover {
    width: 195px;
    height: 65px;
    border-radius: 12px;
    transition: 500ms;
}