body {
    margin: 0;
    background: #B2C8DF;
}


/*------------FONT FAMILY------------*/

@font-face {
    font-family: Merriweather-Font;
    src: url(../font/Merriweather/Merriweather-Black.ttf)
}

@font-face {
    font-family: ;
    src: url()
}

@font-face {
    font-family: ;
    src: url()
}

/*------------ FONT FAMILY END ------------*/


/*------Menu-Content-----*/

.menu-a {}

.menu-content {
    width: 760px;
    height: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.menu-content a {
    padding: 22px 36px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 500ms;
    font-family: Merriweather-Font;
    background-color: #F6F6F6;
}

.menu-content a:hover {
    padding: 26px 38px;
    border-radius: 12px;
    transition: 500ms;
}

/*------Menu-Content END-----*/

/*------ content body-----*/

.main-content-body {
    margin: 0;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    height: 500px;
    border-radius: 12px;
    background-color: #F6F6F6;
}