body {
    margin: 0;
    background-image: url(../image/backgorund/Nether_Portal_background.png)
}

span {
    background-color: yellow;
}

@font-face {
    font-family: Minecraft-Font;
    src: url(../font/minecraft-4-cdnfonts/MinecraftTen-VGORe.ttf);
}

@font-face {
    font-family: Merriweather-Font;
    src: url(../font/Merriweather/Merriweather-Black.ttf);
}

/*-------------------*/

.menu-a-1 {
    padding: 20px;
}

.menu-a-2 {
    margin-left: 12px;
    margin-right: 12px;
}

.menu-a-3 {
    margin-left: 12px;
    margin-right: 12px;
}

.menu-content {
    width: fit-content;
    height: fit-content;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 30px;
}

.menu-content a {
    padding: 22px 36px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 500ms;
    font-family: Minecraft-Font;
    background-color: #495C83;
}

.menu-content a:hover {
    padding: 26px 38px;
    border-radius: 12px;
    transition: 400ms;
    font-size: 20px;
    font-family: Minecraft-Font;
    color: #dd562d;
    background: #d1d1d1;
}


/*-----------------------------------*/

.main-body-content {
    width: 1400px;
    height: 1100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background-color: white;
}

.Tutorial-Title {
    font-family: Minecraft-Font;
    font-size: 40px;
    position: relative;
    width: fit-content;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.Tutorial-Video-P {
    text-align: center;
    width: 800px;
    padding: 10px;
    font-size: 20px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-style: solid;
    border-radius: 12px;
    font-family: Merriweather-Font;
}

.Video-Container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------*/

.SP-1 {
    border-radius: 4px;
    background-color: lightgreen;
    text-decoration: underline;
}


.SP-2 {
    border-radius: 4px;
    text-decoration: underline;
}